
/* NotoSansKR - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSansKR/NotoSansKR-regular.eot'); /* IE9 Compat Modes */
    src:url('../fonts/NotoSansKR/NotoSansKR-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/NotoSansKR/NotoSansKR-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/NotoSansKR/NotoSansKR-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/NotoSansKR/NotoSansKR-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/NotoSansKR/NotoSansKR-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* NotoSansKR-500 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NotoSansKR/NotoSansKR-500.eot'); /* IE9 Compat Modes */
    src:url('../fonts/NotoSansKR/NotoSansKR-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/NotoSansKR/NotoSansKR-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/NotoSansKR/NotoSansKR-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/NotoSansKR/NotoSansKR-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/NotoSansKR/NotoSansKR-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* NotoSansKR-700 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NotoSansKR/NotoSansKR-700.eot'); /* IE9 Compat Modes */
    src:url('../fonts/NotoSansKR/NotoSansKR-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/NotoSansKR/NotoSansKR-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/NotoSansKR/NotoSansKR-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/NotoSansKR/NotoSansKR-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/NotoSansKR/NotoSansKR-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
